<nav>
  <ul>
    <li><%= link_to "Conservation", conservation_path %></li>
    <li><%= link_to "Funding", funding_path %></li>
    <li><%= link_to "Education", education_path %></li>
    <li><%= link_to "Fun", fun_path %></li>
    <li><%= link_to "News", news_path %></li>
    <li><%= link_to "Publications", publications_path %></li>
  </ul>
</nav>